@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&display=swap');

html, body {
    margin: 0;
    padding: 0;
    transition: all 1s ease;
    overflow: hidden;
    background-color: black;
}  


section {
    min-height: 100vh;
    max-height: 100vh;
    display: flex;
    transition: all 1s ease;
}

section:nth-child(1) {
    background-color: rgba(0, 0, 0, 0.6);
    background-image: url("images/music.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: darken;

    justify-content: center;
    align-items: center;
    transition: all 1s ease;
}

.fleche {
    position: absolute;
    width: 0;
    height: 40px;
    color: white;
    border: 2px solid;
    border-radius: 2px;
    animation: sauteInfinie 1.5s infinite;
  }

#fleche1 {
    top: calc(100vh - 100px);
    left: calc(50% - 50px);
}
#fleche2 {
    top: calc(100vh - 100px);
    left: calc(50%);
}
#fleche3 {
    top: calc(100vh - 100px);
    left: calc(50% + 50px);
}

#fleche4 {
    top: calc(200vh - 100px);
    left: calc(50% - 50px);
}
#fleche5 {
    top: calc(200vh - 100px);
    left: calc(50%);
}
#fleche6 {
    top: calc(200vh - 100px);
    left: calc(50% + 50px);
}

.fleche:after {
    content: " ";
    position: absolute;
    top: 22px;
    left: -10px;
    width: 16px;
    height: 16px;
    border-bottom: 4px solid;
    border-right: 4px solid;
    border-radius: 4px;
    transform: rotateZ(45deg);
}

@keyframes sauteInfinie {
    0% {
      margin-top: 0;
    }
    50% {
      margin-top: 20px;
    }
    100% {
      margin-top: 0;
    }
  }

#intro {
    color: white;
    width: 1300px;
    text-align: center;
    background-color: rgba(222, 184, 135, 0.7);
    border-radius: 12px;
}

#titre_intro {
    font-size: 6em;
    margin: 0;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: black;
}

#sous_titre {
    padding-bottom: 20px;
}

#intro:hover {
    background-color: rgba(222, 184, 135, 0.8);
}

#instructions {
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
    color: white;
    border-width: 12;
    border-radius: 10px;
    background-color: rgba(222, 184, 135, 0.7);
}

#instructions > p {
    margin: 10px;
    font-size: 1.5em;
}

section:nth-child(2) {
    display: block;
    background-color: rgba(51, 51, 52, 0.6);
    background-image: url("images/space.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: darken;

    text-align: center;
    font-family: "Quicksand";
}

#titre_tp {
    display: inline-block;
    color: white;
    width: 1000px;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 4em;
    margin-top: 6vh;
    margin-bottom: 30px;
    border-style: solid;
}

section:nth-child(2) > a {
    text-decoration: none;
}

.tp {
    color: white;
    background-color: rgba(0, 0, 0, 0.4);
    display: inline-flex;
    border-style: solid;
    border-radius: 20px;
    font-weight: bold;
    width: 20vw;
    height: 8vw;
    margin: 10px;
    font-size: 1.5em;

    vertical-align: top;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

#titre_tp:hover, .tp:hover {
    background-color: rgba(0, 0, 0, 0.5);
} 

section:nth-child(3) {
    display: block;
    background-color: rgba(0, 0, 0, 0.5);
    background-image: url("images/casino_chips.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-blend-mode: darken;

    text-align: center;
}

#titre_projet {
    display: inline-block;
    color: white;
    width: 1000px;
    height: fit-content;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.4);
    border-radius: 12px;
    font-size: 4em;
    margin-top: 6vh;
    margin-bottom: 30px;
    border-style: solid;
}

.boutton_blackjack {
    background-image: url("images/logo_blackjack.png");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    width: 851px;
    height: 422px;
    margin-top: 0;
    margin-bottom: 0;
    transition: all 0.3s ease-in-out;
    margin-left: auto;
    margin-right: auto;
}

.boutton_blackjack:hover {
    transform: scale(1.2);
}

.zone_interdite {
    min-height: 100vh;
}