@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
    background-image: url("https://images.iphonephotographyschool.com/22122/winter-photography-10000.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;

    font-family: "Nanum Gothic";
    color: white;
}

.intro {
    border-style: solid;
    border-radius: 15px;
    width: fit-content;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 25px;
}

.intro:hover {
    background-color: rgb(0, 0, 0, 0.9);
}

h2 {
    margin: 20px;
}

.conteneur {
    width: 600px;
    border-style: solid;
    border-radius: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.8);
    margin-top: 35px;
}

.conteneur:hover {
    background-color: rgba(0, 0, 0, 0.9);
}

.contenu {
    margin: 20px;
    text-align: center;
    font-size: 1.5em;
}